body {
    font-family: 'Open Sans', sans-serif;
    background-color: #7386D5;
}

h1 {
    font-weight: 700;
    font-family: 'Merriweather', serif;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.content {
    width:90%;
    margin:0 auto;
    padding:30px 0;
}
#sidebar {
    background-color: #7386D5;
    min-width: 280px;
    max-width: 280px;
    min-height: 100vh;
}
.sidebar-header {
    text-align: center;
    padding: 30px 0;
}
.right-side {
    background-color:#ffffff;
    width:100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.sideNav li {
    padding:5px 50px;
}

.sideNav a {
    color: #ffffff;
    font-size: 1.25em;
}
.social a {
    font-size: 1em;
}

.left-col {
    width:60%;
    padding-right: 50px;
    display: inline-block;
}
.right-col {
    vertical-align:top;
    width: 50%;
    display: inline;
}
.hero {
    border-radius: 40px;
}

  .dropbtn {
    background-color: #7386D5;
    color: white;
    padding: 0;
    font-size: 1.25em;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1em;
  }
  
.dropdown-content a:hover {
  background-color: #dddddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #7386D5;
  text-decoration: underline;
}

  
  

/* images */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }