<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devan's Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

</head>
<body>
    <div class="wrapper">
        <!-- side nav bar -->
        <nav id="sidebar" class="sideNav">
            <div class="sidebar-header">
                <img src="../images/devthedev.png" alt="Devan Wong" width="100">
                <h1>DevtheDev</h1>
                <span class="social"><a href="../images/wong-resume-2020.pdf" target="_blank">Resume</a> | <a href="https://www.linkedin.com/in/devanwong/" target="_blank">LinkedIn</a> | <a href="https://github.com/devanwong" target="_blank">Github</a></span>
            </div>
            <ul class="list-unstyled components">
                <li><a href="about.html">About</a></li>
                <li><a href="biosite.html">BioSite</a></li>
                <li><a href="personal.html">Personal Prototype</a></li>
                <li><a href="web-230.html">Web-230's Repository</a></li>
                <li><a href="web-330.html">Web-330's Repository</a></li>
                <li><a href="web-420.html">Web-420's Repository</a></li>
                <li><a href="web-425.html">Web-425's Repository</a></li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Web-430</button>
                        <div class="dropdown-content">
                          <a href="../web-430/wong-tech-value-stream.html">The Technology Value Stream</a>
                          <a href="../web-430/wong-two-pizza-rule.html">Two Pizza Rule</a>
                          <a href="../web-430/wong-automated-tests.html">DevOps Automated Tests</a>
                          <a href="../web-430/wong-ci.html">Continuous Integration</a>
                          <a href="../web-430/wong-pager-rotation.html">Pager Rotation</a>
                          <a href="../web-430/wong-ca-processes.html">CA process</a>
                          <a href="../web-430/wong-it-vs-business.html">Tech vs. Business</a>
                          <a href="../web-430/wong-source-control-security.html">Security Controls</a>
                          <a href="../web-430/wong-change-management.html">Change Management</a>
                        </div>
                      </div>
                </li>
                <li><a href="../views/web-450.html">Web-450</a></li>
                <li><a href="../web-420/wong-rest.html">Presentations</a></li>
                <li><a href="../web-335/wong-diagrams.html">Diagrams</a></li>
            </ul>
        </nav>
        <!-- /side nav bar -->
        <div class="right-side">
            <div class="content">
                <div class="intro">
                    <h1>Bob's Computer Repair Shop.</h1>
                    <br>
                    <h4>Description: A full stack collaborative project with <a href="https://github.com/a-rayamajhi">Anil Rayamajhi</a> and <a href="https://github.com/Erica95-dev">Erica Perry</a></h4>
                    <p>Application: <a href="https://bcrs-gryffindor.herokuapp.com/">Click here to see the app</a></p>
                    <p>Repo: <a href="https://github.com/devanwong/bcrs">Bob's Computer Repair Shop Repo</a></p>
                    <a href="https://bcrs-gryffindor.herokuapp.com/">
                        <img src="../images/web-450-homepage.png" alt="Bob's Computer Repair Shop" width="70%">
                    </a>
                    
                </div>
                <br> <br>
                <div class="card">
                    <div class="card-body">
                        <p>Presentation</p>
                        <video controls autoplay reload="none" style="width:800px;">
                            <source src="../web-450/BCRS - House Gryffindor.mp4" type="video/mp4" />
                        </video>
                    </div>
                </div>
                <br> <br>
                <div class="intro">
                    <h1>Nodebucket.</h1>
                    <br>
                    <h4>Description: nodebucket, is task management software designed to simplify the way you create, track, edit,
                        and delete time sensitive material. To get it working use login: 1007</h4>
                    <p>Application: <a href="https://wong-nodebucket.herokuapp.com/#/session/login">Click here to see the app</a></p>
                    <p>Repo: <a href="https://github.com/devanwong/nodebucket">Bob's Computer Repair Shop Repo</a></p>
                    <a href="https://wong-nodebucket.herokuapp.com/#/session/login">
                        <img src="../images/web450-nodubucket.png" alt="Nodebucket" width="70%">
                    </a>
                    
                </div>
            </div>
        </div>
        <!-- /content -->
    </div>
    <script src="../app.js"></script> 
</body>
</html>