<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
	<meta name="robots" content="noindex">
	<meta http-equiv="author" content="Devan Wong">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devan's Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

</head>
<body>
    <div class="wrapper">
        <!-- side nav bar -->
        <nav id="sidebar" class="sideNav">
            <div class="sidebar-header">
                <img src="../images/devthedev.png" alt="Devan Wong" width="100">
                <h1>DevtheDev</h1>
                <span class="social"><a href="../images/wong-resume-2020.pdf" target="_blank">Resume</a> | <a href="https://www.linkedin.com/in/devanwong/" target="_blank">LinkedIn</a> | <a href="https://github.com/devanwong" target="_blank">Github</a></span>
            </div>
            <ul class="list-unstyled components">
                <li><a href="about.html">About</a></li>
                <li><a href="biosite.html">BioSite</a></li>
                <li><a href="personal.html">Personal Prototype</a></li>
                <li><a href="web-230.html">Web-230's Repository</a></li>
                <li><a href="web-330.html">Web-330's Repository</a></li>
                <li><a href="web-420.html">Web-420's Repository</a></li>
                <li><a href="web-425.html">Web-425's Repository</a></li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Web-430</button>
                        <div class="dropdown-content">
                          <a href="../web-430/wong-tech-value-stream.html">The Technology Value Stream</a>
                          <a href="../web-430/wong-two-pizza-rule.html">Two Pizza Rule</a>
                          <a href="../web-430/wong-automated-tests.html">DevOps Automated Tests</a>
                        </div>
                      </div>
                </li>
                <li><a href="../web-420/wong-rest.html">Presentations</a></li>
                <li><a href="../web-335/wong-diagrams.html">Diagrams</a></li>
            </ul>
        </nav>
        <!-- /side nav bar -->
        <div class="right-side">
            <div class="content">
                <div class="intro">
                    <h1>This my Web 230 class.</h1>
                    <p><b>Description:</b>This web class was an intro  to Javascript, where we learned things like manipulating the DOM, functions and objects. Console.log becomes our best friend.</p>
                    <p>Repo: <a href="https://github.com/devanwong/web-231">https://github.com/devanwong/web-231</a></p>
                </div>
                <img class="myImages" id="myImg" src="../images/web-230.png" alt="Web 230" style="width:100%;max-width:300px">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            </div>
        </div>
        <!-- /content -->
        <script src="../app.js"></script> 
    </div>
</body>
</html>